<h2>Greeting</h2>
<h4>Message: </h4>
<span>{{message}}</span>

<h4>Style(color): </h4>
<h5 style="color: {{style}}">{{style}}</h5>
<br>
URL: <a href="/greeting/?style=red">  /greeting/massage/?style=red</a>

<h4>User Id (from  cookie):</h4>
{{userId}}
<br>
(click <a href="/set-random-userId">here</a> to change randomly)

<h4>Username (from  session):</h4>
{{username}}
<br>
(click <a href="/set-random-username">here</a> to change randomly)